    body{max-width: 100%
        background-color:
        white
        }
    img {display:none;
            }
     h1 {
        font-family: serif;
        }
     h2 {
        font-family: serif; 
        }
      p {
          font-family: serif;
          font-size: 12pt; 
        }