    body {
          max-width: 1000px;
          margin: 0 auto;
          background-color: #dadada;
          padding-top: 1.5em;
        }
     h1 {
        font-style: normal;
        font-family: sans-serif;
        }
     h2 {
        font-style: normal;
        font-family: sans-serif; }
      p {
          font-style: normal;
          font-family: sans-serif;
          word-spacing: normal;
          line-height: 145%;
          text-align: justify;
        }
      a {
         font-family: sans-serif;
         display: block;
         }
      img.selfie {
          float: left;
          margin-top: 1.5em;
          margin-right: 15px;
        }
      img.hero{
            max-width: 100%;
            height: auto;
        }   
@media only screen and(max-width: 600px){
    body {max-width: 100%;
          margin: 1.1em;}
    p {text-align: left;}
    img.selfie {float: none;}
}